/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	width: 48%;
	padding: 5px;
}
  
/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

.leftImage {
	float: left;
	margin-right: 10px;
	width: 315px;
	height: 250px;
}

.rightImage {
	float: right;
	margin-left: 10px;
	width: 315px;
	height: 250px;
}

a {
	transition: all 200ms ease;
}

.fab, .fas {
	font-size: 18px;
	margin-right: 10px;
}

i.fas.fa-file-alt {
    padding-left: 2.25px;
}

ul.nav {
	list-style-type: none;
	margin-left: -15px;
	margin-top: 15px;
	border-top: 1px solid #ADADAD;
	padding-top: 15px;
	font-size: 18px;
}

ul.nav > li > ul {
	list-style-type: none;
	margin-left: -15px;
	margin-bottom: 2px;
}